In [3]:
from sklearn import datasets
import pandas as pd
import numpy as np

In [8]:
iris=datasets.load_iris()
#print(iris)
x=pd.DataFrame(iris['data'],columns=iris['feature_names'])
y=pd.DataFrame(iris['target'],columns=['target'])
data=pd.concat([x,y],axis=1)
data.head(3)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0

In [6]:
list1=[1,2,3,4,5]
print(list1)

[1, 2, 3, 4, 5]

In [15]:
list2=['1',2.2,5,7]
print(list2)

['1', 2.2, 5, 7]

In [14]:
np.array(list2)  #np的array 會以第一個變數的型態來改變後面的變數

array(['1', '2.2', '5', '7'], dtype='<U3')

Pandas DataFrame

In [5]:
np.random.randn(6,4)

array([[ 1.0778982 , -0.35867423, -1.33210815,  0.5149399 ],
       [ 1.29630843,  0.23186946, -1.15525898,  0.04931493],
       [-0.31023093, -0.65867445, -0.17546007, -0.83457477],
       [-2.43925546, -0.31579072,  2.09882932, -0.04163111],
       [-0.09604661, -0.25982145,  0.45503737,  1.45381272],
       [ 0.37756387,  0.54505328, -1.16096161, -1.04129709]])

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
sepal length (cm)    150 non-null float64
sepal width (cm)     150 non-null float64
petal length (cm)    150 non-null float64
petal width (cm)     150 non-null float64
target               150 non-null int32
dtypes: float64(4), int32(1)
memory usage: 5.4 KB

In [11]:
data.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
count,150.000000,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.057333,3.758000,1.199333,1.000000
std,0.828066,0.435866,1.765298,0.762238,0.819232
min,4.300000,2.000000,1.000000,0.100000,0.000000
25%,5.100000,2.800000,1.600000,0.300000,0.000000
50%,5.800000,3.000000,4.350000,1.300000,1.000000
75%,6.400000,3.300000,5.100000,1.800000,2.000000
max,7.900000,4.400000,6.900000,2.500000,2.000000

In [14]:
data.columns

Index(['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)',
       'petal width (cm)', 'target'],
      dtype='object')

In [16]:
data['sepal length (cm)'].head(5)

0    5.1
1    4.9
2    4.7
3    4.6
4    5.0
Name: sepal length (cm), dtype: float64

In [17]:
data['sepal length (cm)'][:5]   #資料選取

0    5.1
1    4.9
2    4.7
3    4.6
4    5.0
Name: sepal length (cm), dtype: float64

In [20]:
data[['sepal length (cm)','sepal width (cm)']][:5]

   sepal length (cm)  sepal width (cm)
0                5.1               3.5
1                4.9               3.0
2                4.7               3.2
3                4.6               3.1
4                5.0               3.6

In [21]:
data.loc[5:10,['sepal length (cm)','sepal width (cm)']]

    sepal length (cm)  sepal width (cm)
5                 5.4               3.9
6                 4.6               3.4
7                 5.0               3.4
8                 4.4               2.9
9                 4.9               3.1
10                5.4               3.7

In [23]:
data[data['sepal length (cm)']>7]  #資料塞選

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
102,7.1,3.0,5.9,2.1,2
105,7.6,3.0,6.6,2.1,2
107,7.3,2.9,6.3,1.8,2
109,7.2,3.6,6.1,2.5,2
117,7.7,3.8,6.7,2.2,2
118,7.7,2.6,6.9,2.3,2
122,7.7,2.8,6.7,2.0,2
125,7.2,3.2,6.0,1.8,2
129,7.2,3.0,5.8,1.6,2
130,7.4,2.8,6.1,1.9,2
131,7.9,3.8,6.4,2.0,2
135,7.7,3.0,6.1,2.3,2

In [27]:
data[data['sepal length (cm)'].isin([7.0,8.0])]

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
50,7.0,3.2,4.7,1.4,1

In [28]:
data.apply(lambda x:x+1).head(5)  #資料運算 對data每個資料+1， lambda x 代表資料裡的每個元素，後面x+1代表回傳  apply

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,6.1,4.5,2.4,1.2,1
1,5.9,4.0,2.4,1.2,1
2,5.7,4.2,2.3,1.2,1
3,5.6,4.1,2.5,1.2,1
4,6.0,4.6,2.4,1.2,1

In [29]:
data['sepal length (cm)'].apply(lambda x:x+1).head(5)   # map   apply and map 不同在於apply可以對整個dataframe運算 map不行

0    6.1
1    5.9
2    5.7
3    5.6
4    6.0
Name: sepal length (cm), dtype: float64

In [30]:
data['sepal length (cm)'].map(lambda x:x+1).head(5) # map 要指定column的level

0    6.1
1    5.9
2    5.7
3    5.6
4    6.0
Name: sepal length (cm), dtype: float64

-----------------------------------------資料分群----------------------------------------

In [31]:
data.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [33]:
data.groupby(by='target').mean() #以target為分類算"平均值"

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
target,,,,
0,5.006,3.428,1.462,0.246
1,5.936,2.770,4.260,1.326
2,6.588,2.974,5.552,2.026

In [37]:
data.groupby(by='target').apply(lambda  x:x.sort_values(by=['sepal length (cm)'],ascending=False)[1:2]) 
#利用 apply自行定義groupby後面的運算，根據花萼的長度做排序，利用ascending=False可以遞減，[1:2]最後取出第2大的

,,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
target,,,,,,
0,18,5.7,3.8,1.7,0.3,0
1,52,6.9,3.1,4.9,1.5,1
2,135,7.7,3.0,6.1,2.3,2

In [42]:
data[data['target']==0]['sepal length (cm)'].sort_values(ascending=False)   #ascending  控制遞增或遞減

14    5.8
15    5.7
18    5.7
33    5.5
36    5.5
5     5.4
20    5.4
10    5.4
31    5.4
16    5.4
48    5.3
27    5.2
28    5.2
32    5.2
0     5.1
21    5.1
17    5.1
19    5.1
39    5.1
44    5.1
46    5.1
23    5.1
7     5.0
4     5.0
49    5.0
25    5.0
26    5.0
43    5.0
35    5.0
40    5.0
1     4.9
34    4.9
37    4.9
9     4.9
45    4.8
11    4.8
12    4.8
30    4.8
24    4.8
29    4.7
2     4.7
6     4.6
47    4.6
3     4.6
22    4.6
41    4.5
42    4.4
38    4.4
8     4.4
13    4.3
Name: sepal length (cm), dtype: float64