In [1]:
from sklearn import datasets
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option('display.max_rows', 500) #最大行数

In [20]:
iris=datasets.load_iris()
x=pd.DataFrame(iris['data'],columns=iris['feature_names'])
print("target_names: "+str(iris['target_names']))
y=pd.DataFrame(iris['target'],columns=['target'])
iris_data=pd.concat([x,y],axis=1)
iris_data.head(5)

target_names: ['setosa' 'versicolor' 'virginica']

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [21]:
iris['target_names']

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [23]:
target_name={0:'setosa',1:'versicolor',2:'virginica'}

In [24]:
iris_data['target_name']=iris_data['target'].map(target_name)
iris_data=iris_data[(iris_data['target_name']=='setosa')|(iris_data['target_name']=='versicolor')]
iris_data=iris_data[['sepal length (cm)','petal length (cm)','target_name']]
iris_data.head(5)

   sepal length (cm)  petal length (cm) target_name
0                5.1                1.4      setosa
1                4.9                1.4      setosa
2                4.7                1.3      setosa
3                4.6                1.5      setosa
4                5.0                1.4      setosa

In [25]:
target_class={'setosa':1,'versicolor':-1}

In [26]:
iris_data['target_class']=iris_data['target_name'].map(target_class)
iris_data.head(5)

   sepal length (cm)  petal length (cm) target_name  target_class
0                5.1                1.4      setosa             1
1                4.9                1.4      setosa             1
2                4.7                1.3      setosa             1
3                4.6                1.5      setosa             1
4                5.0                1.4      setosa             1

In [27]:
def sign(z):
    if z>0:
        return 1
    else:
        return -1

In [50]:
w=np.array([0.,0.,0.])
error=1
iterator=0
while error!=0:
    error=0
    for i in range(len(iris_data)):
        x,y=np.concatenate((np.array([1.]),np.array(iris_data.iloc[i])[:2])),np.array(iris_data.iloc[i])[2]
        if sign(np.dot(w,x))!=y:
            print("iterator: "+str(iterator))
            iterator+=1
            error+=1
            sns.lmplot('sepal length (cm)','petal length (cm)',data=iris_data,fit_reg=False,hue='target_class')
        
        #前一個Decision boundary的法向量
            if w[1] !=0:
                x_last_decision_boundary=np.linspace(0,w[1])
                y_last_decision_boundary=(w[2]/w[1])*x_last_decision_boundary
                plt.plot(x_last_decision_boundary,y_last_decision_boundary,'c--')
            w += y*x
            print("x: "+str(x))
            print("w: "+str(w))
        # x向量
            x_vector=np.linspace(0,x[1])
            y_vector=(x[2]/x[1])*x_vector
            plt.plot(x_vector,y_vector,'b')
        # Decision boundary的方向向量
            x_decision_boundary=np.linspace(-0.5,7)
            y_decision_boundary=(-w[1]/w[2])*x_decision_boundary-(w[0]/w[2])
            plt.plot(x_decision_boundary,y_decision_boundary,'r')
        #Decision boundary的法向量
            x_decision_boundary_normal_vector=np.linspace(0,w[1])
            y_decision_boundary_normal_vector=(w[2]/w[1])*x_decision_boundary_normal_vector
            plt.plot(x_decision_boundary_normal_vector,y_decision_boundary_normal_vector,'g')
            plt.xlim(-0.5,7.5)
            plt.ylim(-2,6)
            plt.show

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices